<div class="container-fluid">
    <div class="row justify-content-center">
      <table id="selectedColumn" class="table table-sm">
        <thead class="thead-light ">
        <tr>
          <th class = "tableHeader" *ngFor="let col of tableHeaders" (click)="sort(col, sorted)" scope="col">{{col}}</th>
        </tr>
        </thead>
      <tr *ngFor="let stock of stocks" class="light">
          <td>{{stock.alphaID}}</td>
          <td id = "link" onmouseover="this.style.cursor = 'pointer';" (click)= "openNewTab(stock)" >{{stock.compName}}</td>
          <td>{{stock.price}}</td>
          <td [ngStyle]="{'color': color}">
            {{detectPriceChanges(stock.price, stock.ystPrice)}}</td>
          <td [ngStyle]="{'color': color}">
            {{detectPricePercentage(stock.price, stock.ystPrice)}}</td>
        </tr>
      </table>
    </div>
  </div>
